#blogHeader {
	text-align: center;
	font-family: georgia;
}

#blogTitle {
	line-height: 10px;
	font-size: 23px;
}

#blogSubTitle {
	line-height: 10px;
	font-size: 20px;
}

#headNavBar {
	text-align: center;
	font-family: georgia;
	white-space: nowrap;
	font-size: 14px;
	text-transform: uppercase;
	color: #333333;
}

#headNavBar a:link {
	text-decoration: none;
	color: #004f66;
}

#headNavBar a:visited {
	text-decoration: none;
	color: #004f66;
}

#blogBody {
	margin-left: 10%;
	margin-right: 10%;

	padding-top: 40px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 40px;
	
	box-shadow: 0 0 4px 4px #888;
	-webkit-box-shadow: 0 0 4px 4px #888;
	-moz-box-shadow: 0 0 4px 4px #888;
}

#articleTitle {
	margin-top: 20px;

	font-size: 21px;
	line-height: 1px;
}

#articleAuthor {
	font-size: 11px;
	line-height: 10px;
	text-transform: uppercase;
	color: #575757;
	font-family: georgia;
}

#articleImage {
	max-width: 250px;
	max-height: 350px;

	border: 1px solid #fff;
	box-shadow: 0 0 5px #888;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
}

.float {
	float: left;
}

.rotate {
	float: left;

	transform: rotate(-3deg);
	-ms-transform: rotate(-3deg); /* IE 9 */
	-webkit-transform: rotate(-3deg); /* Safari and Chrome */
	-o-transform: rotate(-3deg); /* Opera */
	-moz-transform: rotate(-3deg); /* Firefox */
}

#articleBody {
	margin-top: -10px;
	margin-left: 266px;

	padding-left: 4px;

	min-height: 350px;

	font-size: 14px;
	font-family: georgia;
}

#articleBody img {
	border: 1px solid #fff;
	box-shadow: 0 0 4px #888;
	-moz-box-shadow: 0 0 4px #888;
	-webkit-box-shadow: 0 0 4px #888;
}

#articleBody a:link {
	text-decoration: none;
	font-weight: bold;
	color: #00617d;
}

#articleBody a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #00617d;
}

.lineBreak {
	margin-bottom: 30px;
}

footer {
	text-align: center;
	font-family: georgia;
	color: #575757;
	font-size: 13px;
}

footer a:link {
	text-decoration: none;
	color: #004f66;
}

footer a:visited {
	text-decoration: none;
	color: #004f66;
}